<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
	  <class name="com.nbaproject.testcases.TeamNamesVerification"/>
      <class name="com.nbaproject.testcases.SlideViewVerification"/>
      <class name="com.nbaproject.testcases.VideoWatchVerification"/>
      <class name="com.nbaproject.testcases.LoadMoreVerification"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
